head{
    background-color: darkkhaki;
}

body{
    background-color: rgb(195, 219, 223);

}

button{
    background-color: rgb(255, 99, 132);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
